{% extends "index.html" %}
{% block content %}
<body>
	<header id="header">
		<h1><a href="/">Private TA</a></h1>
		<nav id="nav">
			<ul>
				<li><a href="about_us.html">About Us</a></li>
				<li><a href="{{ post_url }}">Post</a></li>
				<li><a href="browse.html">Browse</a></li>
				<li><a href="search.html">Search</a></li>
				<li><a href="contact_us.html">Contact</a></li>
				<li><a href="{{ url|safe }}">{{url_linktext}}</a></li>
			</ul>
		</nav>
	</header>
	
	<section id="main" class="wrapper">
		<div class="container">
			<header class="major">
				<h2>Delete</h2>
				<p>Remove your post from our database.</p>
			</header>
			<p>A kind note: This post will be deleted permanently. Are you sure to delete it?</p>
			<form action='/delete' method='post'>
				<div class="row uniform 50%">
					<div class="6u 12u$(xsmall)">
						<input type="radio" name="delete" value="Y" id="Yes"/>
						<label for="Yes">Yes</label>
					</div>
					<div class="6u 12u$(xsmall)">
						<input type="radio" name="delete" value="N" id="No"/>
						<label for="No">No</label>
					</div>
					<ul class="actions">
						<li><input type="submit" value="submit"></li>
						<li><input type="reset" value="reset"></li>
					</ul>
				</div>
			</form>
		</div>
	</section>
	

{% endblock %}