{% extends "index.html" %}
{% block content %}

<body>
	<header id="header">
		<h1><a href="/">Private TA</a></h1>
		<nav id="nav">
			<ul>
				<li><a href="about_us.html">About Us</a></li>
				<li><a href="{{ post_url }}">Post</a></li>
				<li><a href="browse.html">Browse</a></li>
				<li><a href="search.html">Search</a></li>
				<li><a href="contact_us.html">Contact</a></li>
				<li><a href="{{ url|safe }}">{{url_linktext}}</a></li>
			</ul>
		</nav>
	</header>
	
	<section id="main" class="wrapper">
		<div class="container">
			<header class="major">
				<h2>Post</h2>
				<p>Edit your past tuition post.</p>
			</header>
			<h3>Additional Modules</h3>
			<form action="/create_post" method="post">
				<div class="row uniform 50%">
					{% for count in range(len) %}
					<div class="12u$">
						<h4>Additional Module {{ count + 1}}</h4>
					</div>
					<div class="6u 12u$(xsmall)">
						<input type="text" name="module" value="{{ tutor.modules[count+1] }}" placeholder="Module Code" required="required" />
					</div>
					<div class="6u 12u$(xsmall)">
						<input type="text" name="price" value="{{ tutor.prices[count+1] }}" placeholder="Price (Numbers Only)" required="required" />
					</div>
					<div class="12u$">
						<div class="select-wrapper">
							<select name="grade" size='1' required="required" id="category" />
								<option value="{{ tutor.grades[count+1] }}" selected>{{ tutor.grades[count+1] }}</option>
								<option>A+</option>
								<option>A</option>
								<option>A-</option>
							</select>
						</div>
					</div>
					{% endfor %}
					<ul class="actions">
						<li><input type="submit" value="submit"></li>
						<li><input type="reset" value="reset"></li>
						<li><a href="/edit.html"class="button">back</a></li>
					</ul>
				</div>
			</form>
		</div>
	</section>

{% endblock %}